@import 'variables';

.card-course-item{
  margin-top: 10px;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 5px;
}

.toy-img{
  width: 200px;
  height: 200px;
}