@import 'variables';

.card-toy-item{
  margin: 10px 15px;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 5px;
}

.toy-img{
  width: 200px;
  height: 200px;
}

a {
  text-decoration: none;
}
a:hover {
  color: blanchedalmond;
}