<div class="mt-5 d-flex .mt-n1 aligns-item-center justify-content-center">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input" class="form-label">Search</label>
            <input type="text" class="form-control" id="search-input" name="q" aria-describedby="emailHelp" placeholder="Searching...">
        </div>

        <br><button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>